/* Mark O Mahony 
Class: CD */

/* Main Body styles */
h2, h3 { color: #000068;}

html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	height: 100%;
	margin: 0;
	background: url(./images/background.png);
	font-size: 75%;
	font-family: Geneva, sans-serif;
	letter-spacing: 0.15em;	
	background-color: #efefef;}
	
#page {
	max-width: 940px;
	min-width: 720px;
	margin: 5px auto;
	padding: 20px;
	border: 4px double #000;
	background-color: #ffffff;}
	
#logo {
	width: 650px;
	height: 90px;
	padding: 0px;
	float: center;
	}
	
#content {
	width: 600px;
	margin: 0 auto;}
	
#gallery {
	width: 750px;
	margin: 0 auto;
}
	
figure {
	padding-top: 10px;
	width: 600px;
	margin: 0 auto;}

/* Additional styles for navigation bar and all links */
#navigation {
	width : 750px;
}
	
#navigation a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;}
	
#navigation a:hover, #navigation a.on {
	color: #000042;
	background-color: #ffffff;}
	
a {color: #000068;}
	
a:hover {
	color: #000042;
	text-decoration: underline;
	}

/* Additional styles for lists */
ul {
	width: 650px;
	padding: 15px;
	margin: 0 auto;
	border-top: 2px solid #000068;
	border-bottom: 1px solid #000068;
	text-align: center;}
	
ol {
	width: 650px;
	padding: 10px;
	margin: 0 auto;
	float: left;
	text-align: left;}
	
ol li {display: list-item;}
	
li {
	display: inline;
	margin: 0 auto;}


/* Additional styles for the forms */
label {
	float: left;
	width: 70px;}
	
br {
	clear: left;}	
	
form {
	padding: 20px 0 20px 0;
	width: 650px;
	margin-left: 75px;}
	
legend {
	font-weight: bold;}
	
/* Additional styles for the tables */
table { 
	font-size: 100%;
	font-family: Geneva, sans-serif;
	letter-spacing: 0.15em;	
	border-collapse: collapse;
	margin: 0 auto;}
	
table, th, td {
	border: 3px solid #000062;
	text-align: left;
    padding: 8px;
  }
	
td {
	padding: 10px;
}

/* Footer Styles */

footer	{
	clear: both;
	color: #ffffff;
	text-align: left;
	font-size: 90%;
	background: #000068;
	padding: 5px;
	width: 650px;
}

#contact {
	margin-left: 75px;
}
